<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card class="user-card p-0" fxFlex="50">
      <mat-card-title class="mat-bg-primary">
        <div class="card-title-text">
          <span>Dances</span>
          <span fxFlex></span>
        </div>
      </mat-card-title>
      <mat-card-content>
        <div class="counter-box-container">
          <app-scorebox [title]="'Total'" [value]="summary?.dancesCount"></app-scorebox>
          <app-scorebox [title]="'Taken'" [value]="summary?.dancesWithScoresTaken"></app-scorebox>
          <app-scorebox [title]="'Checked'" [value]="summary?.dancesWithScoresChecked"></app-scorebox>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="user-card p-0" fxFlex="50">
      <mat-card-title class="mat-bg-primary">
        <div class="card-title-text">
          <span>Scores</span>
          <span fxFlex></span>
        </div>
      </mat-card-title>
      <mat-card-content>
        <div class="counter-box-container">
          <app-scorebox [title]="'Total'" [value]="summary?.individualScoresCount"></app-scorebox>
          <app-scorebox [title]="'Taken'" [value]="summary?.individualScoresTaken"></app-scorebox>
          <app-scorebox [title]="'Checked'" [value]="summary?.individualScoresChecked"></app-scorebox>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
