.icon-count {
    min-width: 70px;
}
.pad-up {
    display: block;
    float:right;
    padding-top: 8px;
}


.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.selected {
    background-color: #CCC;
}

.list-item
{
    width: 100%;
}
