<div class="modal-min">
    <mat-card-title>General Data Protection Regulation</mat-card-title>
    <mat-card-content>
        <div class="mb-1 mt-1">
            <p>Hi, Welcome to DertInfo</p>
            <p>Under GDPR regulations we need to have explicit permission to hold data about you. </p>
            <p> <strong> We have not yet recieved permission from you to hold any information. </strong></p>
            <p>By proceeding to use this site you accept that this consent has been provided under the terms outlined in our terms and conidtions.</p>
            <p>You can remove this consent at any point by proceeding to delete your user account under the user account settings of this site.</p>
        </div>
        <button mat-raised-button color="primary" (click)="onGdprDialogOk()">
            Accept Terms & Provide Consent
        </button>
    </mat-card-content>
</div>
