# Ignore node_modules directory
**/node_modules

# Ignore Docker specific files
**/Dockerfile
**/docker-compose.yml
**/docker-compose.override.yml
**/.dockerignore

# Ignore local build artifacts (as we build in the container)
**/dist/ 
**/www/

# Ignore node modules
**/node_modules

# Ignore editor-specific files
.vscode/
.idea/

# Ignore version control files
.git/
.gitignore
