<div>
    <h1>Setting Up Your Group</h1>
    <p>Hi welcome to DertInfo, please have a read of this to make sure that you understand what data you are about to
        provide to us.
    </p>
    <p>You are giving us</p>
    <ul>
        <li>Your group information such as where you're from and some info about your group.</li>
        <li>Your contact information.</li>
        <li>A picture of your group.</li>
        <li>A choice of preference as to how we may use this information.</li>
    </ul>
    <p>We take this information in order that we can give your group a public presence on the website (based on your settings) and can contact you if we need to for any reason and we can make some deductions on how far groups are travelling to come to a DERT.
    </p>
    <p>Once you continue to pass this configuration screen we’ll allow you to set up and store information about your group such as the teams and members, pictures and other information that make up your group. We store this information for your convenience when entering DERT and to give access to those scores for your teams and members.
    </p>
    <p>Once you have setup your group information you’ll be able to register for DERT.
    </p>
    <p>We ask for information about members as organisers need to allocate tickets to those members and ensure that they can allocate the correct type of tickets.
    </p>
    <p>By continuing we may (based on your settings choices):</p>
    <ul>
        <li>Show your group name, image and bio on the public area of the website.</li>
        <li>Allow DERT event organisers to find you and invite you to DERT.</li>
    </ul>
    <p>Our full terms and conditions are listed below.
    </p>
</div>
<app-website-terms [hideHeader]="true"></app-website-terms>
