<div class="marking-criteria-sidebar">
  <mat-expansion-panel (opened)="openPanel(0)" (closed)="panelOpenState[0] = false"
    [expanded]="panelOpenState[0]">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Music
      </mat-panel-title>
      <mat-panel-description>
        (15 marks)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h4>Mark Range: 13-15</h4>
    <p>Paying close attention to the dancers, playing for/with the dancers throughout
      performance, at their speed. Music is an integral part of the dance (e.g. alters
      rhythmic emphasis where appropriate to match jumps / tumbles / varied
      stepping types, builds tension in spins if appropriate, raises excitement levels
      for end of dance). Well played and planned, and fits, lifts and drives the entire
      dance. Music matches the intended atmosphere of the dance whether serious
      / joyful / aggressive / smooth and slick. Music is enjoyable to listen to with
      excellent choices and changes of key and tune that are well timed to fit the
      figures.</p>
    <h4>Mark Range: 10-12</h4>
    <p>Team mostly demonstrates the below but with some elements of the
      above/team demonstrates all of the below, plus some elements of the above.</p>
    <h4>Mark Range: 7-9</h4>
    <p>Musicians pay attention to the dancers adapting quickly and smoothly where
      necessary. Music has steady rhythm and is at an appropriate speed for the
      dancers. The music fits well with the dance and has suitable tune choices and
      changes. Some change(s) of emphasis to bring out the rhythm of the dance.</p>
    <h4>Mark Range: 4-6</h4>
    <p>Team mostly demonstrates the below but with some elements of the
      above/team demonstrates all of the below, plus some elements of the above.</p>
    <h4>Mark Range: 0-3</h4>
    <p>Little or no drive or lift from music. Musicians are not paying attention to
      dancers and do not adapt when required. The rhythm is unsteady and at the
      wrong speed for the dancers. Playing is poor and/or out of tune. The tunes
      chosen do not fit the dance or figures. Single tune with little or no variation
      throughout dance, and no changes of emphasis to highlight the dance
      rhythms.</p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="openPanel(1)" (closed)="panelOpenState[1] = false"
    [expanded]="panelOpenState[1]">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Stepping
      </mat-panel-title>
      <mat-panel-description>
        (15 marks)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h4>Mark Range: 13-15</h4>
    <p>Stepping is clean and crisp, at a good volume and in time with the music
      throughout. The team display a consistent style between dancers and
      throughout the dance. There is a variety of stepping with interesting
      variations. Jumps are good, and in time with the music; where the jump is two
      footed the feet are together. Stepping in spins is good. Dancers all start and
      finish stepping at the same time unless clearly intended otherwise.</p>
    <h4>Mark Range: 10-12</h4>
    <p>Team mostly demonstrates the below but with some elements of the
      above/team demonstrates all of the below, plus some elements of the above.</p>
    <h4>Mark Range: 7-9</h4>
    <p>Stepping is on the whole in time with the music and audible. A consistent style
      is attempted between dancers and throughout the dance. There is some
      variety in stepping. Jumps are secure and in time with the dance. Stepping in
      spins is accurate. Dancers mostly start and finish stepping at the same time
      where necessary.</p>
    <h4>Mark Range: 4-6</h4>
    <p>Team mostly demonstrates the below but with some elements of the
      above/team demonstrates all of the below, plus some elements of the above.</p>
    <h4>Mark Range: 0-3</h4>
    <p>Stepping is muffled with missed taps and not in time with the music. There is
      no consistency in style between dancers or throughout the dance. There is
      very little / no variety in stepping. Jumps are poor, not in time with the music
      and dancers do not jump together. Stepping in spins is not in time with the
      music and feet are not at the same height. Dancers do not start and finish
      stepping at the same time.</p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="openPanel(2)" (closed)="panelOpenState[2] = false"
    [expanded]="panelOpenState[2]">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sword Handling
      </mat-panel-title>
      <mat-panel-description>
        (15 marks)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h4>Mark Range: 13-15</h4>
    <p>Swords are kept high and above heads (where necessary), meaning no
      ducking is needed, and hands are together where possible. Excellent sword
      shapes throughout the dance, including display figures and locks. Locks are
      displayed evenly, including any flat locks. Smooth movements and transitions
      and skilful use of swords to create excitement. While any erroneous dropped
      sword should be penalised any loose or dropped swords are immediately
      recovered and there is no detriment to the flow of the dance.</p>
    <h4>Mark Range: 10-12</h4>
    <p>Team mostly demonstrates the below but with some elements of the
      above/team demonstrates all of the below, plus some elements of the above.</p>
    <h4>Mark Range: 7-9</h4>
    <p>Swords are generally high and there is minimal ducking, hands are mostly
      kept together. Sword shapes are good throughout the dance, especially in
      display figures and locks. Locks are displayed well. Movements and
      transitions are secure. Any loose or dropped swords are recovered quickly
      allowing the dance to continue.</p>
    <h4>Mark Range: 4-6</h4>
    <p>Team mostly demonstrates the below but with some elements of the
      above/team demonstrates all of the below, plus some elements of the above.</p>
    <h4>Mark Range: 0-3</h4>
    <p>Swords are low which causes ducking throughout the dance and hands are
      not together. Swords do not move together and locks and display figures are
      poorly formed. There is inconsistent control of swords. There are loose or
      dropped swords which are slowly recovered stopping the flow of the dance.</p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="openPanel(3)" (closed)="panelOpenState[3] = false"
    [expanded]="panelOpenState[3]">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dance Technique
      </mat-panel-title>
      <mat-panel-description>
        (15 marks)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h4>Mark Range: 13-15</h4>
    <p>Dancers work in complete harmony as a team, set is always controlled, tight
      and balanced. There are clear shapes and spacing throughout the dance and
      movements and positions are planned and executed with each dancer in
      control. All individual movements are fluid, smooth and well controlled and
      dancers are always aware of each other. The set stays well centred within the
      dance space. Spins are even, circular and instantly well-paced, and tumbles
      are confident and in time with each other and the music.</p>
    <h4>Mark Range: 10-12</h4>
    <p>Team mostly demonstrates the below but with some elements of the
      above/team demonstrates all of the below, plus some elements of the above.</p>
    <h4>Mark Range: 7-9</h4>
    <p>There is some fluidity as a team with control and minimal bumping. Shapes
      are well formed and movements are generally controlled and dancers are
      aware of each other. There is fluidity between figures. The set moves very
      little within the dance space. Spins are secure, balanced and get up to speed
      swiftly, and tumbles are in time with the dance.</p>
    <h4>Mark Range: 4-6</h4>
    <p>Team mostly demonstrates the below but with some elements of the
      above/team demonstrates all of the below, plus some elements of the above.</p>
    <h4>Mark Range: 0-3</h4>
    <p>Dancers do not work together as a team and frequently bump into each other.
      Shapes are poorly formed, e.g lines are not straight/circles are not circular,
      and there is a lack of fluidity between figures. The set moves a lot within the
      dance space. Spins are slow to get going, uneven, and with varied postures
      amongst the dancers. Individual movements are poorly controlled and
      tumbles are out of time with the music, each other, or fail to execute.</p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="openPanel(4)" (closed)="panelOpenState[4] = false"
    [expanded]="panelOpenState[4]">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Presentation
      </mat-panel-title>
      <mat-panel-description>
        (15 marks)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h4>Mark Range: 13-15</h4>
    <p>Excellent entrance to dance area, ending and exit from dance area (no
      fidgeting). All performers appear confident and positive throughout the dance.
      Consistent approach e.g. all smiling/enjoying dance or all serious. Very smart,
      clean and tidy kit, including shoes and hair. All dancers wearing matching kit,
      including shoes. Kit is appropriate for rapper and harmonises with overall
      presentation, enhancing performance. Shiny, clean swords. Musicians
      dressed smartly and in keeping with the team appearance.</p>
    <h4>Mark Range: 10-12</h4>
    <p>Team mostly demonstrates the below but with some elements of the
      above/team demonstrates all of the below, plus some elements of the above.</p>
    <h4>Mark Range: 7-9</h4>
    <p>Confident entrance and exit to/from dance area (minimal fidgeting). Dancers
      look calm and in control. Clean and tidy kit which is consistent between
      dancers. Kit is appropriate for rapper and does not inhibit the performance.
      Some kit coming adrift during the dance.</p>
    <h4>Mark Range: 4-6</h4>
    <p>Team mostly demonstrates the below but with some elements of the
      above/team demonstrates all of the below, plus some elements of the above.</p>
    <h4>Mark Range: 0-3</h4>
    <p>Poor entrance and exit, fidgeting before or after the dance. Talking within the
      set. Dancers frowning or looking nervous. Scruffy, untidy and dirty kit - whites
      not white, shoes/swords not polished etc. Kit not consistent between dancers.
      Kit coming adrift during dance. Kit inhibiting the ability to dance. Items in
      pockets e.g. keys or change cause distraction from the dance.</p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="openPanel(5)" (closed)="panelOpenState[5] = false"
    [expanded]="panelOpenState[5]">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Buzz Factor
      </mat-panel-title>
      <mat-panel-description>
        (15 marks)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h4>Mark Range: 13-15</h4>
    <p>A highly exciting and entertaining dance that dominates the performance
      space. The confidence and energy of the dance is high throughout,
      captivating judges and audience members. Figures are performed with
      excitement and flair. Display figures and locks are received well by the
      audience. Exciting figures are included. There is a real ‘buzz’ atmosphere in
      the room from the team entrance, during the dance and when the dance has
      finished, bearing in mind the size of the available audience and potential
      ‘rent-a-crowd’ effect.</p>
    <h4>Mark Range: 10-12</h4>
    <p>Team mostly demonstrates the below but with some elements of the
      above/team demonstrates all of the below, plus some elements of the above.</p>
    <h4>Mark Range: 7-9</h4>
    <p>An entertaining dance that uses the performance space well. There is good
      energy throughout and audience members and judges are clearly interested.
      Display figures and locks receive a positive response from the audience.
      Dancers are engaging with the audience and not intimidated. There is a good
      ‘buzz’ atmosphere during and after the dance, bearing in mind the size of the
      available audience.</p>
    <h4>Mark Range: 4-6</h4>
    <p>Team mostly demonstrates the below but with some elements of the
      above/team demonstrates all of the below, plus some elements of the above.</p>
    <h4>Mark Range: 0-3</h4>
    <p>A tame or boring dance that fails to dominate the space. Low energy
      throughout, audience members are not paying full attention. Display figures
      and locks receive minimal response from the audience. There is little or no
      ‘buzz’ atmosphere during/after the dance, bearing in mind the size of the
      available audience.</p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="openPanel(6)" (closed)="panelOpenState[6] = false"
    [expanded]="panelOpenState[6]">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Character
      </mat-panel-title>
      <mat-panel-description>
        (10 marks)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h4>Mark Range: 13-15</h4>
    <p>Excellent performance that contributes to and is integral to the dance. Actions
      skilfully tailored to the performance, audience and venue. Positive interaction
      with dancers, lifting the performance. Effective involvement in dance itself.
      Draws in audience from the start. Engages audience throughout whole
      performance, resulting in appropriate responses to locks, tumbles, etc. Only
      enhances the performance, doesn’t detract at all. Responds swiftly and
      effectively to problems (e.g. mistakes, snapped swords, objects in the dance
      space) if they arise. Appropriate kit.</p>
    <h4>Mark Range: 10-12</h4>
    <p>Team mostly demonstrates the below but with some elements of the
      above/team demonstrates all of the below, plus some elements of the above.</p>
    <h4>Mark Range: 7-9</h4>
    <p>Performance that contributes to the dance. Clearly audible, and good
      interaction with dancers and audience. Limited involvement in the dance itself.
      Responds effectively to problems if they arise. Appropriate kit.</p>
    <h4>Mark Range: 4-6</h4>
    <p>Team mostly demonstrates the below but with some elements of the
      above/team demonstrates all of the below, plus some elements of the above.</p>
    <h4>Mark Range: 0-3</h4>
    <p>Detracts from performance e.g. taking attention away from dancers. Fails to
      engage audience at start and/or during dance and fails to respond effectively
      to any problems that arise. Unclear or inaudible. Boring, uninspiring, annoying
      or embarrassing performance. Obstructs audience’s view. Obstructing or
      interfering with dancers and/or musicians. Inappropriate kit. No or poor
      involvement in dance.</p>
  </mat-expansion-panel>
</div>
