:host {
    .border {
        font-family: "Kalam", cursive;
        border: 3px solid #FF017D;
        border-radius: 15px 255px 15px 255px / 255px 15px 255px 15px;
        padding:15px;
        margin-bottom: 10px;
    }
}
