h2 {
    display: inline-block;
    padding-right:10px;
}

p {
    padding-top: 45px;
    margin-bottom: 20px;
}

a {
    display:flex;
    justify-content: center;
}
a > img {
    width: 80%;
    height:80%;
}
