<header id="home-header">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
    <div class="home-logo">
      <!--<img src="assets/images/logo-full-strong.png" alt="Egret logo">-->
      <a class="navbar-brand" routerLink="/home"><span class="">Dert</span>Info</a>
    </div>
    <span fxFlex></span>
    <button mat-button id="dashboard-topbtn" class="hometop-btn" routerLink="/dashboard"><strong>My
        Dashboard</strong></button>
  </div>
</header>


<div class="container">
  <!-- Amble Thrales -->
  <div class="section-header">
    <mat-card class="">
      <mat-card-content>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
          <div fxFlex="25">
            <h2>AMBLE</h2>
            <span>by Thrales</span>
            <img src="/assets/notations/2019/images/amble-thrales.png">
          </div>
          <div fxFlex="50">
            <p>
              The Amble sword dance has its origins in a small mining village of the same name on the coast of
              Northumberland. There are two notations of the dance that Thrales have used to create their version of the
              Amble sword dance; both can be found in the appendices at the end of this document. The first is the
              well-known notation by Bill Cassie in the 1960s.1 The second is a lesser-known notation by Joss Mellor and
              Brian Haydon, which came to our attention via Phil Heaton...
            </p>
          </div>
          <div fxFlex="25">
            <a href="/assets/notations/2019/amble-thrales.pdf" download>
              <img src="/assets/icons/pdf-download-icon.png" />
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Bedlington Thrales -->
  <div class="section-header">
    <mat-card class="">
      <mat-card-content>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
          <div fxFlex="25">
            <h2>BEDLINGTON</h2>
            <span>by Thrales</span>
            <img src="/assets/notations/2019/images/bedlington-thrales.png">
          </div>
          <div fxFlex="50">
            <p>
              Bedlington is a former pit village in Northumberland, about 10 miles to the North of Newcastle upon Tyne.
              Bedlington is famous for its traditional rapper sword team and for the Bedlington Terrier, the breed of
              dog named after the village...
            </p>
          </div>
          <div fxFlex="25">
            <a href="/assets/notations/2019/bedlington-thrales.pdf" download>
              <img src="/assets/icons/pdf-download-icon.png" />
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- High Spen Medlock -->
  <div class="section-header">
    <mat-card class="">
      <mat-card-content>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
          <div fxFlex="25">
            <h2>HIGHSPEN</h2>
            <span>by Medlock</span>
          </div>
          <div fxFlex="50">
            <p>
              Medlock Rapper will be performing the traditional dance ‘High Spen’ as performed by the High Spen Blue
              Diamonds. In fact, we will be performing High Spen’s ‘First Dance’. We have taken our notation from three
              sources:
            </p>
            <ol>
              <li>Video footage of the team </li>
              <li>Direct tuition from a team member (Tom Besford) </li>
              <li>Direct tuition from Ricky Forster </li>
            </ol>
          </div>
          <div fxFlex="25">
            <a href="/assets/notations/2019/highspen-medlock.pdf" download>
              <img src="/assets/icons/pdf-download-icon.png" />
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Murton whip the cat -->
  <div class="section-header">
    <mat-card class="">
      <mat-card-content>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
          <div fxFlex="25">
            <h2>MURTON</h2>
            <span>by&nbsp;Whip&nbsp;the&nbsp;Cat</span>
            <img src="/assets/notations/2019/images/murton-whipthecat.png">
          </div>
          <div fxFlex="50">
            <p>
              The Murton Sword Dance comes from the mining village of Murton in Co. Durham. The Murton team was founded
              in about 1902 by Harry Lowerson and fiddler Tom Smith. It differs from other traditional dances of the
              area and time in that it is performed “inside out”. The dance was notated by E. C. Cawte and C. J. F.
              Soper and published in 1967. Whip the Cat began researching and learning the Murton Sword Dance in 2002
              but it was shelved until 2012 when we began to re-learn it. The Whip the Cat version is based on the
              notation by E. C. Cawte and C. J. F. Soper...
            </p>
          </div>
          <div fxFlex="25">
            <a href="/assets/notations/2019/murton-whipthecat.pdf" download>
              <img src="/assets/icons/pdf-download-icon.png" />
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Westerhope Star and Shadow -->
  <div class="section-header">
    <mat-card class="">
      <mat-card-content>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
          <div fxFlex="25">
            <h2>WESTERHOPE</h2>
            <span>by&nbsp;Star&nbsp;and&nbsp;Shadow</span>
            <img src="/assets/notations/2019/images/westerhope-starandshadow.png">
          </div>
          <div fxFlex="50">
            <p>
              Westerhope is a small village in the North West of Newcastle upon Tyne. It relied heavily on the discovery
              of coal reserves in the 1800s. In 1896 a pit opened at North Wallbottle opened, and it was here that the
              founding members of Westerhope rapper team worked. The team was founded in 1906 and in 1912 Cecil Sharp
              visited the team and recorded their dance, however, he named it North Wallbottle rather than Westerhope...
            </p>
          </div>
          <div fxFlex="25">
            <a href="/assets/notations/2019/westerhope-starandshadow.pdf" download>
              <img src="/assets/icons/pdf-download-icon.png" />
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Westerhope Tower Ravens -->
  <div class="section-header">
    <mat-card class="">
      <mat-card-content>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
          <div fxFlex="25">
            <h2>WESTERHOPE</h2>
            <span>by&nbsp;Tower&nbsp;Ravens</span>
            <img src="/assets/notations/2019/images/westerhope-towerravens.png">
          </div>
          <div fxFlex="50">
            <p>
              Tower Ravens will be dancing a traditional rapper dance collected from the team “Westerhope” (sometimes
              referred to as the “Northumbrian Traditional Sword Dancers” (Heaton, 2012)), who took their name from a
              mining area west of central Newcastle. Little has been written about the Westerhope dance, and the only
              source of notation available is that printed in the article Westerhope Traditional Prize Sword Dancers by
              Les Williamson, published in Folk Music Journal in 1973, and more recently made available through the
              <a href="http://www.rapper.org.uk/">Rapper Online website</a>...
            </p>
          </div>
          <div fxFlex="25">
            <a href="/assets/notations/2019/westerhope-towerravens.pdf" download>
              <img src="/assets/icons/pdf-download-icon.png" />
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Westerhope Tower Ravens -->
  <div class="section-header">
    <mat-card class="">
      <mat-card-content>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
          <div fxFlex="25">
            <h2>WINLATON</h2>
            <span>by Sallyport</span>
            <img src="/assets/notations/2019/images/winlaton-sallyport.png">
          </div>
          <div fxFlex="50">
            <p>
              Winlaton is located approximately two miles from Swalwell, home of today’s Sallyport Sword Dancers. The
              neighbouring villages of Winlaton and Swalwell each had their own sword dancers and the two teams were
              great rivals (each Christmas they raced each other to get to dance at the big houses first – and get the
              whisky which went with it!)...
            </p>
          </div>
          <div fxFlex="25">
            <a href="/assets/notations/2019/winlaton-sallyport.pdf" download>
              <img src="/assets/icons/pdf-download-icon.png" />
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
