<div>
<h1>Event Setup Terms &amp; Conditions</h1>

<p>Dear DERT organiser please find outlined below the terms under which you use this site and your responsibilities with regard to the information that you gather from the use of this site.
</p>
<p>Each group wishing to attend your DERT will provide you with group / team and member information in order that you can collate the number of tickets you require and calculate the costs of attendance for each group.
</p>
<p>Any personally identifiable information provided to you is subject to the General Data Protection Regulations (GDPR). For which you are the Data Contoller and DertInfo is a Data Processor.
</p>
<p>In the cases of group and team information such as group/team names and images the users of this site agree that the information that they provide can be used for the purposes of the programme and other marking material and merchandise.
</p>
<p>In the cases of the member information this must under all circumstances be kept private and only communicated between you and the group.
</p>
<p>We need to make you aware that the client of this website is delivered over http and not https. However communication between the client and the Api is over https.
</p>
<p>The terms and conditions of the group administrator also contain the above paragraph.
</p>
<p>By agreeing to these terms and conditions you accept that DertInfo will process data in the way outlined above.
</p>
<p>Our full terms and conditions are listed below.
</p>

</div>
<app-website-terms [hideHeader]="true"></app-website-terms>
