<!-- todo - create framework module and include public header-->
<header id="home-header">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
    <div class="home-logo">
      <!--<img src="assets/images/logo-full-strong.png" alt="Egret logo">-->
      <a class="navbar-brand" routerLink="/home"><span class="">Dert</span>Info</a>
    </div>
    <span fxFlex></span>
    <button mat-button id="dashboard-topbtn" class="hometop-btn" routerLink="/dashboard"><strong>My
        Dashboard</strong></button>
  </div>
</header>
<section id="portfolio-section" class="portfolio home-section light-gray">
<div class="container">
  <div class="section-header">
    <mat-card class="">
      <mat-card-content>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
          <div fxFlex="25" >
              <img src="assets/images/dsg-logo.png">
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
<section id="portfolio-section" class="portfolio home-section light-gray">
  <div class="container">
    <div class="section-header">
      <h2>Permenant Members</h2>
      <!--
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat
        at.
      </p>
      -->
    </div>


    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="25">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/home-2018.png">
          <mat-card-content>
            <h5><strong>Laura English Rose</strong></h5>
            <!--<p>xxx</p>-->
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/home-2020.jpg">
          <mat-card-content>
            <h5><strong>Eilidh Smith</strong></h5>
            <!--<p>xxx</p>-->
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/home-2014.png">
          <mat-card-content>
            <h5><strong>David Hall</strong></h5>
            <!--<p>xxx</p>-->
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/home-sdu.png">
          <mat-card-content>
            <h5><strong>Amy O'Brien</strong></h5>
            <!--<p>xxx</p>-->
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
<section id="portfolio-section" class="portfolio home-section light-gray">
  <div class="container">
    <div class="section-header">
      <h2>Transient Members</h2>
      <!--
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat
        at.
      </p>
      -->
    </div>


    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/home-2020.jpg">
          <mat-card-content>
            <h5><strong>Lynne Houston</strong></h5>
            <p>
              2020 - Lincoln - Whip the Cat
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <div class="holderimage">
          </div>
          <mat-card-content>
            <h5><strong>Tom Dight</strong></h5>
            <p>
              2021 - Edinburgh - Mons Meg
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
            <div class="holderimage">
              </div>
          <mat-card-content>
            <h5><strong>Phil Heaton</strong></h5>
            <p>
              2022 - Derby - Stone Monkey
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
<section id="portfolio-section" class="portfolio home-section light-gray">
  <div class="container">
    <div class="section-header">
      <h2>President</h2>
      <!--
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat
        at.
      </p>
      -->
    </div>


    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
            <div class="holderimage">
              </div>
          <mat-card-content>
            <h5><strong>Phil Heaton</strong></h5>
            <!--<p>xxx</p>-->
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
