<app-top-header></app-top-header>
<app-dod-header></app-dod-header>
<section id="portfolio-section" class="light-gray">
  <div class="container" fxLayout="column">
    <div>
      <h1>How To Enter</h1>
      <p>Hey you, thanks for coming to see what's going on with DERT of DERTs. We're kinda excited about seeing what you
        guys put forward for everyone to have a look at and also interested in seeing what you guys think of other
        dances from the past.
      </p>

      <div class="step-box">
        <a matRipple class="intro-product-link">
          <div class="price price-position">#1</div>
          <span class="price-text"></span>
        </a>
        <mat-card class="default">
          <mat-card-title>Read the rules</mat-card-title>
          <mat-card-content>
            <p>We're going to be asking you to send videos so the rules for video entries are:</p>
            <ul>
              <li>Your video must be pre-recorded. Do NOT get together to film anything new!</li>
              <li>Your video must be from a previous DERT main competition or Spotlight, or an equivalent 'performance'
                e.g. a festival spot or pub dance if you do not have a DERT video available.</li>
              <li>The performance must be filmed from the front (or as near as possible) - no videos from the back of
                the dance please.</li>
              <li>Try to choose a video where the whole dance is visible - feet and all!</li>
            </ul>
            <p>You must send us your video by the 28th February 2021</p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="step-box">
        <a matRipple class="intro-product-link">
          <div class="price price-position">#2</div>
          <span class="price-text"></span>
        </a>
        <mat-card class="default">
          <mat-card-title>Make sure that you're happy to send us the video</mat-card-title>
          <mat-card-content>
            <p>We're going to be displaying the videos on the tinter-webs so make sure that:</p>
            <ul>
              <li>You're happy for us to do that. (If it's not already on the web)</li>
              <li>Your team is in agreement.</li>
              <li>You want to be judged by our official judges.</li>
              <li>You want to be judged by everyone else. (Sorry not optional too many codes!)</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="step-box">
        <a matRipple class="intro-product-link">
          <div class="price price-position">#3</div>
          <span class="price-text"></span>
        </a>
        <mat-card class="default">
          <mat-card-title>Send us your video</mat-card-title>
          <mat-card-content>
            <p>Drop an email to "dertsteering@gmail.com" with the following:</p>
            <ul>
              <li>The name of your team</li>
              <li>Your name</li>
              <li>Where the video is from</li>
              <li>Which year the video is from</li>
              <li>And then the video. Either a real video (no VHS) or a you tube or facebook link.</li>
            </ul>
          </mat-card-content>
        </mat-card>

        <div class="step-box">
          <a matRipple class="intro-product-link">
            <div class="price price-position">#4</div>
            <span class="price-text"></span>
          </a>
          <mat-card class="default">
            <mat-card-title>Wait For a bit and then join in</mat-card-title>
            <mat-card-content>
              <p>So here's the plan for Saturday:</p>
              <ul>
                <li>We are going to upload your videos onto the DERT of DERTs part of DertInfo at the end of February.</li>
                <li>Then over March the offical judges and going to use thier web skills, watch the videos and submit their
                  scores and comments.</li>
                <li>On the morning of Saturday the 27th March we are:
                  <ul>
                    <li>going to give you your scores and comments from the officals judges (and)</li>
                    <li>going to open up judging for all the submissions to everyone.</li>
                    <li>we're going to send your public submissions to you as soon as they come in through your logins.</li>
                    <li>but we are <u>not</u> going to expose the collated scores. So you'll not be able to see who's
                      won but you'll be able to see what scores you got. (sneeky) Will it be enough? </li>
                  </ul>
                <li>Then later:
                  <ul>
                    <li>we'll publish the collated results from the offical judges so you can see who's won offically
                    </li>
                    <li>we'll publish the collated results from the public judges so you can see who's won by the peoples
                      choice</li>
                    <li>give you full rights to say that "we woz robbed" if the people like you best</li>
                  </ul>
                </li>
              </ul>
              <p>The plan for Sunday is:</p>
              <ul>
                <li>Publish some talks from the rapper community aficionados. (See the talks page)</li>
                <li>Have a zoom meeting with team representatives and the steering group to discuss all things DERT</li>
              </ul>
              <p>If you have any further questions send the steering group and email (same one as you'll be sending us the videos on!)</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
