<div>
<h1>Registration Terms &amp; Conditions</h1>

<p>You are about to register for an DERT. This document outlines what information is about to be passed to the DERT organiser.
</p>
<p>By accepting these terms and conditions you agree that you accept that this information will be passed to the DERT organiser(s)and that you have consent from individuals who could be identified in this submission to supply this information to the third party.
</p>
<p>On continuation to register you will supply group information to the DERT organisers including you group contact information and permission to use your Bio and image for the purposes of the programme and any other marketing material or merchandise.
</p>
<p>They may also contact you via email or telephone to inform you of information that you may need or may be interested in with regard to your registration.
</p>
<p>You will also agree that any information that you supply as part of this registration such as the addition of members that are to attend or the teams that are to attend can be used by the DERT Organiser to conduct operations with regard to running the event.
</p>
<p>Team information such as assigned images an Bio may be used in publically available material such as the programme.
</p>
<p>DertInfo will also use team information publicly on the site to show attendance to a particular DERT or with the announcement of results.
</p>
<p>By agreeing to these terms and conditions that you accept that you wish for us to pass this information to the DERT organiser under these terms and that you accept that the information you provide can be used in the ways outlined above
</p>
</div>
<app-website-terms [hideHeader]="true"></app-website-terms>
