<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text">Setup Event</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <mat-vertical-stepper [linear]="true" (selectionChange)="onStepperStepChange($event)">
      <mat-step [stepControl]="eventDetailsFormGroup">
        <form [formGroup]="eventDetailsFormGroup">
          <ng-template matStepLabel>Event Details</ng-template>
          <mat-form-field class="pt-1 full-width">
            <input matInput placeholder="Synopsis" formControlName="eventSynopsis" required>
          </mat-form-field>
          <div fxLayout="row" fxLayoutGap="20px" >
              <div fxFlex="100" fxFlex.gt-xs="50" >
                <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="eventStartDate" name="eventStartDate" formControlName="eventStartDate" placeholder="Event Starts" required>
                  <mat-datepicker-toggle matSuffix [for]="eventStartDate"></mat-datepicker-toggle>
                  <mat-datepicker #eventStartDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div fxFlex="100" fxFlex.gt-xs="50">
                <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="eventEndDate" name="eventEndDate" formControlName="eventEndDate" placeholder="Event Finishes" required>
                  <mat-datepicker-toggle matSuffix [for]="eventEndDate"></mat-datepicker-toggle>
                  <mat-datepicker #eventEndDate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          <mat-form-field class="pt-1 full-width">
            <input matInput placeholder="Town" formControlName="locationTown">
          </mat-form-field>
          <mat-form-field class="pt-1 full-width">
            <input matInput placeholder="Postcode" formControlName="locationPostcode">
          </mat-form-field>

          <div class="pt-1">

            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="contactDetailsFormGroup">
        <form [formGroup]="contactDetailsFormGroup">
          <ng-template matStepLabel>Contact Details</ng-template>
          <mat-form-field class="pt-1 full-width">
            <input matInput placeholder="Contact Name" formControlName="contactName" required>
          </mat-form-field>
          <mat-form-field class="pt-1 full-width">
            <input matInput placeholder="Contact Email" formControlName="contactEmail" required>
          </mat-form-field>
          <mat-form-field class="pt-1 pb-1 full-width">
            <input matInput placeholder="Contact Telephone" formControlName="contactTelephone" required>
          </mat-form-field>
          <div>
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="eventImageFormGroup">
        <form [formGroup]="eventImageFormGroup">
          <ng-template matStepLabel>Event Image</ng-template>
          <input matInput placeholder="Image" formControlName="eventPictureUrl" required hidden>
          <button mat-raised-button color="primary" matTooltip="Upload New Image" (click)="openUploadImageDialog()">
            <mat-icon>swap_horiz</mat-icon>
            <span>Change Image</span>
          </button>
          <div class="pt-1">
            <app-image-retry [src]="eventPictureUrl | imageDimension: '480x360'" alt=""></app-image-retry>
          </div>
          <div class="pt-1">
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="visabilityFormGroup">
        <form [formGroup]="visabilityFormGroup">
          <ng-template matStepLabel>Visibility</ng-template>
          <div fxLayout="row">
            <div fxFlex="100" fxFlex.gt-xs="50">
              <mat-radio-group fxLayout="column" formControlName="visibility">
                <mat-radio-button class="pt-1" *ngFor="let visabilityOption of visibilityOptions" [value]="visabilityOption.id">
                  {{visabilityOption.name}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" *ngIf="visabilityFormGroup.get('visibility').value !== 2">
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="registrationOpenDate" name="registrationOpenDate" formControlName="registrationOpenDate"
                  placeholder="Tickets Available / Registration Open" required="visabilityFormGroup.get('visibility').value !== 2">
                <mat-datepicker-toggle matSuffix [for]="registrationOpenDate"></mat-datepicker-toggle>
                <mat-datepicker #registrationOpenDate></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="registrationCloseDate" name="registrationCloseDate" formControlName="registrationCloseDate"
                  placeholder="Tickets Closed / Registration Close" required="visabilityFormGroup.get('visibility').value !== 2">
                <mat-datepicker-toggle matSuffix [for]="registrationCloseDate"></mat-datepicker-toggle>
                <mat-datepicker #registrationCloseDate></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="pt-1">
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="configurationTemplateFormGroup">
        <form [formGroup]="configurationTemplateFormGroup">
          <ng-template matStepLabel>Event Type</ng-template>
          <mat-radio-group fxLayout="column" formControlName="eventTemplate">
            <mat-radio-button class="pt-1" *ngFor="let eventConfigurationTemplate of eventConfigurationTemplateOptions" [value]="eventConfigurationTemplate.id">
              {{eventConfigurationTemplate.name}}
            </mat-radio-button>
          </mat-radio-group>
          <div class="pt-1">
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="termsAndConditionsFormGroup">
          <form [formGroup]="termsAndConditionsFormGroup">
            <ng-template matStepLabel>Terms &amp; Conditions</ng-template>
            <p>By continuing to setup {{eventName}} you accept responsibility as the data controller with regard to safeguarding the personal information supplied to you.</p>
            <p>You accept that some of the information you provide may be made available to registrants to your event in order that they can contact you.</p>
            <p>
              <small>For further information please see our
                <a (click)="onTermsAndConditionsClick()" class="cursor-pointer">terms &amp; conditions</a>.</small>
            </p>
            <mat-checkbox formControlName="agreeToTermsAndConditions" required>
              I agree to the terms and conditions
            </mat-checkbox>
            <div class="pt-1">
                <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" matStepperNext [disabled]="!termsAndConditionsFormGroup.valid">Next</button>
              </div>
          </form>
        </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div>
          <mat-icon class="pt-1" [style.fontSize]="'36px'">check</mat-icon>
        </div>
        <div class="pb-1 mb-1"> You Are Done.</div>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" (click)="submit()" [disabled]="!termsAndConditionsFormGroup.valid">Submit</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
