<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
      <mat-card class="profile-sidebar mb-1 pb-0">
        <div class="propic text-center">
          <img [src]="gravitarLink" alt="">
        </div>
        <div class="profile-title text-center mb-1">
          <div class="main-title"><b>{{fullname}}</b></div>
        </div>
        <div class="profile-nav">
          <mat-nav-list>
            <mat-list-item routerLink="/user-account/overview" routerLinkActive="list-item-active">
              <mat-icon>home</mat-icon>
              Overview
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/user-account/settings" routerLinkActive="list-item-active">
              <mat-icon>settings</mat-icon>
              Settings
            </mat-list-item>
          </mat-nav-list>
        </div>
      </mat-card>

      <!-- Contact Information -->
      <mat-card class="default">
        <mat-card-title>Contact Information</mat-card-title>
        <mat-card-content class="pt-0">
          <mat-list>
            <mat-list-item><mat-icon class="mr-1">email</mat-icon> {{email}}</mat-list-item>
            <mat-list-item><mat-icon class="mr-1">phone</mat-icon> {{telephone}}</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

  <!-- Profile Views -->
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">
      <router-outlet></router-outlet>
    </div>
  </div>
