@font-face {
	font-family: 'ARDarling';
	src: url('/assets/fonts/ardarling/ar_darling.eot');
	src: url('/assets/fonts/ardarling/ar_darling.woff') format('woff'),
	url('/assets/fonts/ardarling/ar_darling.ttf') format('truetype'),
	url('/assets/fonts/ardarling/ar_darling.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
