<app-top-header></app-top-header>
<app-dod-header></app-dod-header>
<section id="portfolio-section" class="light-gray">
  <div class="container" fxLayout="column">
    <div>
      <h1>How To Judge</h1>
      <p>Right Then... So we've got some entries and those of you who are our official judges have been contacted. We’re
        just doing a bit of sorting out and we’ll be ready to go.
      </p>


      <mat-card class="default">
        <mat-card-title>Official Judges</mat-card-title>
        <mat-card-content>
          <p>Shortly you’ll be receiving an email that will give you a password that will allow you to get into the
            judging section of the site. Please don’t share this with anyone else.
          </p>
          <p>You’ll give your scores and comments and then we’ll keep hold of them until Saturday the 27th of March.</p>
          <p>You don’t have to do it all at once. Just make sure you’re done before the 27th. If you decide to spread it
            over a couple of days just be aware that we get rid of your identity when you close the browser. You can
            pick up where you left off for up to 6 days but after those 6 days “computer says no!”.</p>
          <p>Sometime on the Saturday we’ll forward the score sheets to the teams. The teams will be able to review what
            scores you gave them and make a guesstimate as to whether they’ve done enough to win. Towards the end of the
            day we’ll publish the collated results table to see who officially won.
          </p>
        </mat-card-content>
      </mat-card>

      <br />

      <mat-card class="default">
        <mat-card-title>Everyone Else</mat-card-title>
        <mat-card-content>
          <p>In the morning of the 27th we’re going to remove the block for everyone to get in and view the submissions
            to give their scores and comments.</p>
          <p>You do not have to judge every dance but for each dance you score then we’ll take all the scores from
            everyone for that dance and then divide by the number that we have. (I could have just used the word
            average)</p>
          <p>When you submit your “score sheet” we’ll be immediately forwarding it to the teams. So they can
            see what scores they are getting from you guys as they come in. </p>
          <p>However before you start considering sabotaging teams by giving them really low scores or promoting your
            own them with really high scores we’ve also given the teams the ability to complain. (And we’ll be watching
            for the outlier high ones - as noone is going to complain at all 15’s) So when they get your score card then
            they can let us know if they are not happy.</p>
          <p>In order to be completely transparent if we get complaints then we’ve got the control to wipe out a single
            result or wipe out the results from a whole person. To be clear we will do this without justification or
            notification to you. We want everyone to have fun so please keep that in mind.</p>
          <p>If you’re considering how you can mess with the system (yes you! - I was going to put some initials here
            but thought better of it - ) I’m letting you know that you could if you tried. ( I could go on about how
            selfish this would be and that you’d ruin everyone else's fun… and all that… oh I just did. (I’m ashamed of
            myself))</p>
          <p>I hope that you all have fun and that everything all works out as we hope it will.</p>
        </mat-card-content>
      </mat-card>

      <br />

      <mat-card class="default">
        <mat-card-title>We did a video</mat-card-title>
        <mat-card-content>
          <app-youtube-embed [youtubeLink]="'https://www.youtube.com/embed/j6IqGJSTVmw'"></app-youtube-embed>
        </mat-card-content>
      </mat-card>


      <br />
      <br />
    </div>
