<header id="home-header">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
    <div class="home-logo">
      <!--<img src="assets/images/logo-full-strong.png" alt="Egret logo">-->
      <a class="navbar-brand" href="/"><span class="">Dert</span>Info</a>
    </div>
    <span fxFlex></span>
    <button mat-button id="dashboard-topbtn" class="hometop-btn" routerLink="/dashboard"><strong>My
        Dashboard</strong></button>
  </div>
</header>
<dert2025-intro-banner></dert2025-intro-banner>
<section id="portfolio-section" class="portfolio home-section light-gray">
  <div class="container">
    <div class="section-header">
      <h2>Our Friends</h2>
      <!--
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat
        at.
      </p>
      -->
    </div>
    <!-- SDU Website is currently a mess. May add back when cleaned up
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="33.33">
        <a href="http://www.sworddanceunion.org.uk/" target="_blank">
          <mat-card class="p-0 m-0">
            <img mat-card-image src="assets/images/home-sdu.png">
            <mat-card-content>
              <h5><strong>SDU</strong></h5>
              <p>
                Official website of the SDU
              </p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      -->
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
        <div fxFlex="33.33">
          <a href="http://www.dert.uk/" target="_blank">
            <mat-card class="p-0 m-0">
              <img mat-card-image src="assets/images/home-dertuk.png">
              <mat-card-content>
                <h5><strong>DERT UK</strong></h5>
                <p>
                  Dancing England Rapper Tournament
                </p>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      <div fxFlex="33.33">
        <a href="https://www.facebook.com/groups/675344492568251/" target="_blank">
          <mat-card class="p-0 m-0">
            <img mat-card-image src="assets/images/home-ajs.png">
            <mat-card-content>
              <h5><strong>DERT Alternative
                  Judges</strong></h5>
              <p>
                Claire and Amys alternative judging.
              </p>
              <!--
            <mat-divider class="mb-1"></mat-divider>
            <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
            -->
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div fxFlex="33.33">
        <a href="https://www.facebook.com/groups/164866403667090/" target="_blank">
          <mat-card class="p-0 m-0">
            <img mat-card-image src="assets/images/home-thenut.png">
            <mat-card-content>
              <h5><strong>The NUT</strong></h5>
              <p>
                The guide to rapper sword dancing in the UK.
              </p>
              <!--
            <mat-divider class="mb-1"></mat-divider>
            <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
            -->
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
    <!--
    <div class="text-center home-section-action">
      <button mat-raised-button mat-lg-button color="accent">LOAD MORE</button>
    </div>
    -->
  </div>
</section>

<section class="home-section">
  <div class="container">
    <div class="section-header">
      <h2>What we do</h2>
      <!--
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat
        at.
      </p>
      -->
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="25">
        <a routerLink="/dashboard" name="registration-page">
          <mat-card class="home-fancy-card">
            <div fxLayout="column">
              <div class="text-center">
                <mat-icon mat-card-icon>assignment</mat-icon>
              </div>
              <span fxFlex="20px"></span>
              <h3 class="m-0 font-light">Registration</h3>
              <span fxFlex="20px"></span>
              <p class="m-0 description">Tell us who's coming how many teams and which competitions you want to enter.
              </p>
              <span fxFlex="40px"></span>
              <!--
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
            -->
            </div>
          </mat-card>
        </a>
      </div>
      <div fxFlex="25">
        <a routerLink="/content/results" name="results-page">
          <mat-card class="home-fancy-card">
            <div fxLayout="column">
              <div class="text-center">
                <mat-icon mat-card-icon>insert_chart</mat-icon>
              </div>
              <span fxFlex="20px"></span>
              <h3 class="m-0 font-light">Results</h3>
              <span fxFlex="20px"></span>
              <p class="m-0 description">Your scores and comments immedately after awards are announced.
              </p>
              <span fxFlex="40px"></span>
              <!--
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
            -->
            </div>
          </mat-card>
        </a>
      </div>
      <div fxFlex="25">
        <a routerLink="/content/history" name="history-page">
          <mat-card class="home-fancy-card">
            <div fxLayout="column">
              <div class="text-center">
                <mat-icon mat-card-icon>storage</mat-icon>
              </div>
              <span fxFlex="20px"></span>
              <h3 class="m-0 font-light">History</h3>
              <span fxFlex="20px"></span>
              <p class="m-0 description">Keep track of who attended and what your results were from previous years.
              </p>
              <span fxFlex="40px"></span>
              <!--
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
            -->
            </div>
          </mat-card>
        </a>
      </div>
      <div fxFlex="25">
        <a routerLink="/content/community" name="community-page">
          <mat-card class="home-fancy-card">
            <div fxLayout="column">
              <div class="text-center">
                <mat-icon mat-card-icon>insert_emoticon</mat-icon>
              </div>
              <span fxFlex="20px"></span>
              <h3 class="m-0 font-light">Community</h3>
              <span fxFlex="20px"></span>
              <p class="m-0 description">Support running of DERT and engagement with the rapper dancing community.
              </p>
              <span fxFlex="40px"></span>
              <!--
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
            -->
            </div>
          </mat-card>
        </a>
      </div>
    </div>
  </div>
</section>


<section class="home-section home-cta">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="66.666">
        <h2>Traditional Notations From Previous Years</h2>
        <p>The excellent notations and research by the teams entering the traditional competition in previous years.
        </p>
      </div>
      <div fxFlex="33.333" fxLayoutAlign="center center">
        <button mat-raised-button mat-lg-button color="accent" routerLink="/content/notations">VIEW NOTATIONS</button>
      </div>
    </div>
  </div>
</section>

<!--
<section class="home-section">
  <div class="container">
    <div class="section-header">
      <h2>Choose a Plan</h2>
      <mat-slide-toggle [(ngModel)]="isAnnualSelected" color="primary" class="mb-1">Get upto 10% discount annually</mat-slide-toggle>
    </div>

    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="light-gray">
            <div class="card-title-text">
              <div class="">Developer</div>
              <div class="text-sm text-muted">For New Developers</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <h1><strong>FREE</strong></h1>
            <mat-list dense class="mb-1">
              <mat-list-item>10GB of Bandwidth</mat-list-item>
              <mat-list-item>Max 50 connection</mat-list-item>
              <mat-list-item>512MB RAM</mat-list-item>
              <mat-list-item class="text-muted">Unlimited access</mat-list-item>
              <mat-list-item class="text-muted">Unlimited User</mat-list-item>
              <mat-list-item class="text-muted">Data analytics</mat-list-item>
            </mat-list>
            <button mat-raised-button class="mat-accent">Choose</button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="mat-bg-primary">
            <div class="card-title-text">
              <div class="">Starter</div>
              <div class="text-sm text-muted-white">For Professional Developers</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <h1>
              <strong>$
                  <span *ngIf="!isAnnualSelected">{{30}} /Mo</span>
                  <span *ngIf="isAnnualSelected">{{30 * 12 * .9}} /Yr</span>
                  </strong>
            </h1>
            <mat-list dense class="mb-1">
              <mat-list-item>100GB of Bandwidth</mat-list-item>
              <mat-list-item>Max 500 connection</mat-list-item>
              <mat-list-item>1GB RAM</mat-list-item>
              <mat-list-item>Unlimited access</mat-list-item>
              <mat-list-item class="text-muted">Unlimited User</mat-list-item>
              <mat-list-item class="text-muted">Data analytics</mat-list-item>
            </mat-list>
            <button mat-raised-button class="mat-accent">Choose</button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="light-gray">
            <div class="card-title-text">
              <div class="">Business</div>
              <div class="text-sm text-muted">For Small Businesses</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <h1>
              <strong>$
                  <span *ngIf="!isAnnualSelected">{{60}} /Mo</span>
                  <span *ngIf="isAnnualSelected">{{60 * 12 * .9}} /Yr</span>
                  </strong>
            </h1>
            <mat-list dense class="mb-1">
              <mat-list-item>100GB of Bandwidth</mat-list-item>
              <mat-list-item>Max 1500 connection</mat-list-item>
              <mat-list-item>2GB RAM</mat-list-item>
              <mat-list-item>Unlimited access</mat-list-item>
              <mat-list-item>Unlimited User</mat-list-item>
              <mat-list-item class="text-muted">Data analytics</mat-list-item>
            </mat-list>
            <button mat-raised-button class="mat-accent">Choose</button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="light-gray">
            <div class="card-title-text">
              <div class="">Enterprise</div>
              <div class="text-sm text-muted">For Large companies</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <h1>
              <strong>$
                  <span *ngIf="!isAnnualSelected">{{160}} /Mo</span>
                  <span *ngIf="isAnnualSelected">{{160 * 12 * .9}} /Yr</span>
                  </strong>
            </h1>
            <mat-list dense class="mb-1">
              <mat-list-item>1000GB of Bandwidth</mat-list-item>
              <mat-list-item>Max 5000 connection</mat-list-item>
              <mat-list-item>8GB RAM</mat-list-item>
              <mat-list-item>Unlimited access</mat-list-item>
              <mat-list-item>Unlimited User</mat-list-item>
              <mat-list-item>Data analytics</mat-list-item>
            </mat-list>
            <button mat-raised-button class="mat-accent">Choose</button>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>
</section>
-->
<!--
<section class="home-section light-gray">
  <div class="container">
    <div class="section-header">
      <h2>Send Us An Email</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, error.</p>
    </div>
    <form [formGroup]="contactForm">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="wrap">
        <div fxFlex="100">
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="name" [formControl]="contactForm.controls['name']" placeholder="Your Name">
            </mat-form-field>
            <small *ngIf="contactForm.controls.name.touched && contactForm.controls.name.errors?.required" class="form-error-msg">Name is required</small>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="email" [formControl]="contactForm.controls['email']" placeholder="Your Email">
            </mat-form-field>
            <small *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.email" class="form-error-msg">Invalid Email</small>
          </div>

        </div>
        <div fxFlex="100">
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="subject" [formControl]="contactForm.controls['subject']" placeholder="Subject">
            </mat-form-field>
            <small *ngIf="contactForm.controls.subject.touched && contactForm.controls.subject.errors?.required" class="form-error-msg">Subject is required</small>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <textarea matInput row="8" name="message" [formControl]="contactForm.controls['message']" placeholder="Message"></textarea>
            </mat-form-field>
            <small *ngIf="contactForm.controls.message.touched && contactForm.controls.message.errors?.required" class="form-error-msg">Message is required</small>
          </div>
        </div>

        <div fxFlex="100">
          <button mat-fab color="primary" [disabled]="!contactForm.valid"><mat-icon>send</mat-icon></button>
        </div>
      </div>
    </form>
  </div>
</section>
-->
<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>About Us</b></h4>
          <p>
            dertinfo.co.uk is a website that intends to help in the running of the annual Dancing England Rapper Tournament for those organisers who take on the challenge.
            It supports them through the processes of registration, collecting scores and publishing results to teams and the public.
            It is updated and maintained by David Hall (a member of Black Swan Rapper).
          </p>
          <!-- <button mat-raised-button color="accent">Contact Us</button> -->
        </div>
        <div fxFlex="25" class="footer-box">
          <h4 class="footer-box-title"><b>Contact</b></h4>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">email</mat-icon>
              <h5 matLine><b>Email</b></h5>
              <p matLine>dertinfo@gmail.com</p>
            </mat-list-item>
            <!--
            <mat-list-item>
                <mat-icon mat-list-icon color="accent">location_on</mat-icon>
                <h5 matLine><b>Adress</b></h5>
                <p matLine>Topoban, Akhalia </p>
                <p matLine>Sylhet 3114, BD </p>
              </mat-list-item>
                        -->
          </mat-list>

        </div>
        <div fxFlex="25" class="footer-box">
          <h4 class="footer-box-title"><b>Terms And Data</b></h4>
          <p> <a (click)="routeToTerms()">Terms Of Use</a></p>
          <p> <a (click)="routeToDataPolicy()">Data Policy</a></p>
          <p> <a (click)="routeToCookiePolicy()">Cookie Policy</a></p>
          <!--
          <div class="socials pt-1">
            <ul>
              <li><a href="" class="social-icon linkedin"></a></li>
              <li><a href="" class="social-icon twitter"></a></li>
              <li><a href="" class="social-icon facebook"></a></li>
            </ul>
          </div>
        -->
        </div>
      </div>
    </div>
  </section>
</footer>
