<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
        <mat-card class="profile-sidebar mb-1 pb-0">
            <div class="grouppic text-center">
                <img src="./assets/images/Icon-150.png" alt="dert info logo">
            </div>
            <div class="profile-title text-center mb-1">
                <div class="main-title"><b>System Admin</b></div>
            </div>
            <div class="profile-nav">
                <mat-nav-list>
                    <mat-list-item routerLink="./overview" routerLinkActive="list-item-active">
                        <mat-icon>home</mat-icon>
                        Overview
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item routerLink="./notifications" routerLinkActive="list-item-active">
                        <mat-icon>sms</mat-icon>
                        Notifications
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </mat-card>
    </div>

    <!-- Profile Views -->
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">
        <router-outlet></router-outlet>
    </div>
</div>
