<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
      <mat-card class="profile-sidebar mb-1 pb-0">
        <div class="grouppic text-center">
          <img src="./assets/images/home-2021.jpg" alt="dert of derts logo">
        </div>
        <div class="profile-title text-center mb-1">
          <div class="main-title"><b>Dert Of Derts</b></div>
        </div>
        <div class="profile-nav">
          <mat-nav-list>
            <mat-list-item routerLink="./overview" routerLinkActive="list-item-active">
                <mat-icon>home</mat-icon>
                Overview
              </mat-list-item>
              <mat-divider></mat-divider>
            <mat-list-item routerLink="./submissions" routerLinkActive="list-item-active">
              <mat-icon>receipt</mat-icon>
              Submissions
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="./judges" routerLinkActive="list-item-active">
              <mat-icon>people</mat-icon>
              Judges
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="./complaints" routerLinkActive="list-item-active">
              <mat-icon>speaker_notes_off</mat-icon>
              Complaints
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="./talks" routerLinkActive="list-item-active">
              <mat-icon>supervised_user_circle</mat-icon>
              Talks
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="./settings" routerLinkActive="list-item-active">
              <mat-icon>settings</mat-icon>
              Settings
            </mat-list-item>
          </mat-nav-list>
        </div>
      </mat-card>
    </div>

  <!-- Profile Views -->
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">
      <router-outlet></router-outlet>
    </div>
  </div>
