.registration-sidebar .profile-nav .mat-list-item .mat-icon {
    margin-right: 8px;
}

.registration-sidebar .profile-nav mat-basic-chip {
    background-color: #247ba0; /*primary*/
    border:solid 1px #247ba0; /*primary*/
    border-radius: 10px;
    padding: 1px 4px;
    color: #fff;
}
