.dod-header {
    background: url("../../../../../assets/images/home-bg-cta.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffd97d;
    min-height: 130px;
}

.dod-header-image {
    background-image: url("../../../../../assets/images/dod-header-banner.png");
    background-color: #cccccc;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
