<mat-card class="default">
    <mat-card-title>Complaints</mat-card-title>
    <mat-card-content>

        <p>When we publish the results the teams get visibility of all the official and public results. If a team member is not happy then they can report the result. This hides it from them and the rest of the team members. Those reported results appear here. </p>
        <p>If we validate the result then we remove that result from the scores.</p>
        <p>If we reject the result then it appears back in the teams view. (We might contact the team by other methods to rationalise)</p>
        <p>If the result is from an official judge then we cannot remove just a single score we would have to remove all from that judge. Proceed to the judges section if this is the action that needs to be done.</p>

    </mat-card-content>
</mat-card>
<app-dod-admin-complaints></app-dod-admin-complaints>
